In [2]:
data = [
    [3, 20, 22, 37, 41, 43],
    [2, 16, 24, 38, 43, 59],
    [4, 13, 21, 25, 47, 51],
]

flat_data = {a for i in data for a in i}

In [3]:
flat_data

{2, 3, 4, 13, 16, 20, 21, 22, 24, 25, 37, 38, 41, 43, 47, 51, 59}

In [78]:
len(flat_data)

17

In [4]:
from itertools import combinations

perm = list(combinations(flat_data, 7))

In [52]:
ids = ["_".join([str(i) for i in a]) for a in perm]

In [12]:
excel_mega = r"mega_sena_asloterias_ate_concurso_2640_crescente.xlsx"

In [13]:
import pandas as pd

In [15]:
df = pd.read_excel(excel_mega)

In [22]:
df = df[5:]

In [33]:
df.columns = q,w,e,r,t,y,u,i = df.loc[5]

In [36]:
df = df[6:]

In [37]:
df

5    Concurso        Data bola 1 bola 2 bola 3 bola 4 bola 5 bola 6
17       2629  05/09/2023     11     32     35     40     41     48
18       2628  02/09/2023      5     14     32     40     53     54
19       2627  31/08/2023     13     25     31     43     57     58
20       2626  29/08/2023      1      9     13     16     52     59
21       2625  26/08/2023      9     10     35     44     55     58
...       ...         ...    ...    ...    ...    ...    ...    ...
2641        5  08/04/1996      1      2      6     16     19     46
2642        4  01/04/1996      1      5      6     27     42     59
2643        3  25/03/1996     10     11     29     30     36     47
2644        2  18/03/1996      9     37     39     41     43     49
2645        1  11/03/1996      4      5     30     33     41     52

[2629 rows x 8 columns]

In [50]:
def concatenar_strings(row):
    return "_".join([str(row['bola 1']), str(row['bola 2']), str(row['bola 3']), str(row['bola 4']), str(row['bola 5']), str(row['bola 6'])])

df["id_sort"] = df[[e,r,t,y,u,i]].apply(concatenar_strings, axis=1)

In [51]:
df

5,Concurso,Data,bola 1,bola 2,bola 3,bola 4,bola 5,bola 6,id_sort
17,2629,05/09/2023,11,32,35,40,41,48,11_32_35_40_41_48
18,2628,02/09/2023,5,14,32,40,53,54,5_14_32_40_53_54
19,2627,31/08/2023,13,25,31,43,57,58,13_25_31_43_57_58
20,2626,29/08/2023,1,9,13,16,52,59,1_9_13_16_52_59
21,2625,26/08/2023,9,10,35,44,55,58,9_10_35_44_55_58
...,...,...,...,...,...,...,...,...,...
2641,5,08/04/1996,1,2,6,16,19,46,1_2_6_16_19_46
2642,4,01/04/1996,1,5,6,27,42,59,1_5_6_27_42_59
2643,3,25/03/1996,10,11,29,30,36,47,10_11_29_30_36_47
2644,2,18/03/1996,9,37,39,41,43,49,9_37_39_41_43_49
2645,1,11/03/1996,4,5,30,33,41,52,4_5_30_33_41_52

In [99]:
([i for i in ids if
        # not (
        #         (str(i).find("_2_") != -1 
        #     or str(i).find("2_") != -1) 
        #     and (str(i).find("3_") != -1 
        #     or str(i).find("_3_") != -1) 
        #     # and str(i).find("_4_") == -1 
        #     and str(i).find("21") != -1 
        #     and str(i).find("22") != -1 
        #     and str(i).find("20") != -1
        # ) 
        not (
            (str(i).find("_2_") != -1 
            or str(i).find("2_") != -1) 
            or (str(i).find("3_") != -1 
            or str(i).find("_3_") != -1)
        )
        and 
        (
            str(i).find("37") != -1
            and str(i).find("38") != -1
            and str(i).find("41") != -1
            and str(i).find("16") != -1

     )
     ] 
)

['4_37_38_41_47_16_51',
 '4_37_38_41_47_16_20',
 '4_37_38_41_47_16_21',
 '4_37_38_41_47_16_22',
 '4_37_38_41_47_16_24',
 '4_37_38_41_47_16_25',
 '4_37_38_41_47_16_59',
 '4_37_38_41_16_51_20',
 '4_37_38_41_16_51_21',
 '4_37_38_41_16_51_22',
 '4_37_38_41_16_51_24',
 '4_37_38_41_16_51_25',
 '4_37_38_41_16_51_59',
 '4_37_38_41_16_20_21',
 '4_37_38_41_16_20_22',
 '4_37_38_41_16_20_24',
 '4_37_38_41_16_20_25',
 '4_37_38_41_16_20_59',
 '4_37_38_41_16_21_22',
 '4_37_38_41_16_21_24',
 '4_37_38_41_16_21_25',
 '4_37_38_41_16_21_59',
 '4_37_38_41_16_24_25',
 '4_37_38_41_16_24_59',
 '4_37_38_41_16_25_59',
 '37_38_41_47_16_51_20',
 '37_38_41_47_16_51_21',
 '37_38_41_47_16_51_22',
 '37_38_41_47_16_51_24',
 '37_38_41_47_16_51_25',
 '37_38_41_47_16_51_59',
 '37_38_41_47_16_20_21',
 '37_38_41_47_16_20_22',
 '37_38_41_47_16_20_24',
 '37_38_41_47_16_20_25',
 '37_38_41_47_16_20_59',
 '37_38_41_47_16_21_22',
 '37_38_41_47_16_21_24',
 '37_38_41_47_16_21_25',
 '37_38_41_47_16_21_59',
 '37_38_41_47_16_24_25',
 '37_38_41_47_16_24_59',
 '37_38_41_47_16_25_59',
 '37_38_41_16_51_20_21',
 '37_38_41_16_51_20_22',
 '37_38_41_16_51_20_24',
 '37_38_41_16_51_20_25',
 '37_38_41_16_51_20_59',
 '37_38_41_16_51_21_22',
 '37_38_41_16_51_21_24',
 '37_38_41_16_51_21_25',
 '37_38_41_16_51_21_59',
 '37_38_41_16_51_24_25',
 '37_38_41_16_51_24_59',
 '37_38_41_16_51_25_59',
 '37_38_41_16_20_21_22',
 '37_38_41_16_20_21_24',
 '37_38_41_16_20_21_25',
 '37_38_41_16_20_21_59',
 '37_38_41_16_20_24_25',
 '37_38_41_16_20_24_59',
 '37_38_41_16_20_25_59',
 '37_38_41_16_21_24_25',
 '37_38_41_16_21_24_59',
 '37_38_41_16_21_25_59',
 '37_38_41_16_24_25_59']

In [62]:
df_1 = df[df["id_sort"].isin(ids)]

In [70]:
l = [20, 21, 22]

df[~df["id_sort"].str.contains("21") & ~df["id_sort"].str.contains("20") & ~df["id_sort"].str.contains("22")]

5,Concurso,Data,bola 1,bola 2,bola 3,bola 4,bola 5,bola 6,id_sort
17,2629,05/09/2023,11,32,35,40,41,48,11_32_35_40_41_48
18,2628,02/09/2023,5,14,32,40,53,54,5_14_32_40_53_54
19,2627,31/08/2023,13,25,31,43,57,58,13_25_31_43_57_58
20,2626,29/08/2023,1,9,13,16,52,59,1_9_13_16_52_59
21,2625,26/08/2023,9,10,35,44,55,58,9_10_35_44_55_58
...,...,...,...,...,...,...,...,...,...
2641,5,08/04/1996,1,2,6,16,19,46,1_2_6_16_19_46
2642,4,01/04/1996,1,5,6,27,42,59,1_5_6_27_42_59
2643,3,25/03/1996,10,11,29,30,36,47,10_11_29_30_36_47
2644,2,18/03/1996,9,37,39,41,43,49,9_37_39_41_43_49
2645,1,11/03/1996,4,5,30,33,41,52,4_5_30_33_41_52